.hero-section
  height "calc(100vh - %s)" % remify(145)
  min-height 300px

  > div
    flex-basis 90%

.hero-title
  font-size remify(25)
  font-weight $medium
  margin 0
  padding-bottom 3.6em

.hero-main-content
  transition padding-top 0.2s

.hero-main-content.fixed
  background white
  left 0
  padding 1em 1em 1.4em 1em
  position fixed
  text-align left
  top 0
  width 100%
  z-index 12

  img, #typed-phrases-div
    display inline-block
    vertical-align middle

  #typed-phrases-div
    margin 0.5em 0 0 1em

  img
    width remify(25)

.hero-email,
.footer-email
  display block
  color $gray
  font-size remify(16)
  font-weight $medium

#typed-phrases-div
  color $blue2
  font-size remify(20)
  font-weight $medium
  margin-top 1.3em
  margin-bottom 1em

  span
    display inline-block

#typed-phrases
  color $lightGray
  margin-left 0.2em
  simple-border('bottom', 1px, $borderGray)
  padding-bottom 0.3333em

.projects-section-wrapper
  position relative

  &::before
    background $darkBlue
    content ' '
    display block
    height 65vh
    position absolute
    transition all 0.2s
    width 100%
    z-index -1

  h2
    color white
    font-weight $heavy
    font-size remify(18)
    padding-bottom 3.3888em
    padding-top 3.6666em
    margin 0

  &.fixed::before
    left 0
    position fixed
    top 0
    width 100%

.projects-grid
  display flex
  flex-wrap wrap
  justify-content center
  width 95%
  max-width 792px
  center-block()

.project-item
  flex-basis 264px
  height 179px

  a
    height 100%
    width 100%

.dreamwater
  background $dreamwater

.dondinero
  background $dondinero

.emma
  background $emma

.brick
  background $brick

.vre
  background $vre

.arkfund
  background $arkfund

.mccosmetics
  background $mccosmetics

.begona
  background $begona

.local-e
  background $local-e

.debisa
  background $debisa

.casabeltrami
  background $casabeltrami

.aerial
  background $aerial

.rancholucero
  background $rancholucero

.opia
  background $opia

.sentirmebien
  background $sentirmebien

@media screen and (orientation: portrait)
  .hero-section
    height "calc(70vh - %s)" % remify(145)
    min-height 400px