.hero-section
  height "calc(100vh - %s)" % remify(145)

.hero-title
  font-size remify(25)
  font-weight $medium
  margin 0
  padding-bottom 3.6em

.hero-email,
.footer-email
  display block
  color $gray
  font-size remify(16)
  font-weight $medium

#typed-phrases-div
  color $blue2
  font-size remify(20)
  font-weight $medium
  margin-top 1.3em
  margin-bottom 1em

  span
    display inline-block

#typed-phrases
  color $lightGray

.projects-section-wrapper
  position relative

  &::before
    background $darkBlue
    content ' '
    display block
    height 65vh
    position absolute
    width 100%
    z-index -1

  h2
    color white
    font-weight $heavy
    font-size remify(18)
    padding-bottom 3.3888em
    padding-top 3.6666em
    margin 0

.projects-grid
  display flex
  flex-wrap wrap
  width 95%
  max-width 792px
  center-block()

.project-item
  flex-basis 264px
  height 179px

  a
    height 100%
    width 100%

.dreamwater
  background $dreamwater

.dondinero
  background $dondinero

.emma
  background $emma

.brick
  background $brick

.vre
  background $vre

.arkfund
  background $arkfund

.mccosmetics
  background $mccosmetics

.begona
  background $begona

.local-e
  background $local-e

.debisa
  background $debisa

.casabeltrami
  background $casabeltrami

.aerial
  background $aerial

.rancholucero
  background $rancholucero

.opia
  background $opia

.sentirmebien
  background $sentirmebien