{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
<div class="hero-section vertical-center">
  <div class="text-center">
    <h1 class="hero-title blue">Web Design & Software Development</h1>
    <div class="hero-main-content">
      <img src="img/blick.png" alt="Blick logo" />
      <div id="typed-phrases-div">
        <span>We'd love to</span>
        <span id="typed-phrases">
          <span>Hear from you</span>
        </span>
      </div>
    </div>
    <span class="hero-email">hola@blick.mx</span>
  </div>
</div>
<div class="projects-section-wrapper text-center">
  <h2>Some of our Projects:</h2>
  <div class="projects-grid">
    <div class="project-item dreamwater">
      <a href="//drinkdreamwater.com" target="_blank" class="vertical-center">
        <img src="img/dreamwater.png" alt="Logo" />
      </a>
    </div>
    <div class="project-item dondinero">
      <a href="//dondinero.mx" target="_blank" class="vertical-center">
        <img src="img/dondinero.png" alt="Logo" />
      </a>
    </div>
    <div class="project-item emma">
      <a href="//miemma.com" target="_blank" class="vertical-center">
        <img src="img/emma.png" alt="Logo" />
      </a>
    </div>
    <div class="project-item brick">
      <a href="//bricksa.mx" target="_blank" class="vertical-center">
        <img src="img/brick.png" alt="Logo" />
      </a>
    </div>
    <div class="project-item vre">
      <a href="//vre.com.mx" target="_blank" class="vertical-center">
        <img src="img/vre.png" alt="Logo" />
      </a>
    </div>
    <div class="project-item arkfund">
      <a href="//arkfund.co" target="_blank" class="vertical-center">
        <img src="img/thearkfund.png" alt="Logo" />
      </a>
    </div>
    <div class="project-item mccosmetics">
      <a href="//mccosmetics.com" target="_blank" class="vertical-center">
        <img src="img/mccosmetics.png" alt="Logo" />
      </a>
    </div>
    <div class="project-item begona">
      <a href="//begonafernandez.mx" target="_blank" class="vertical-center">
        <img src="img/begona.png" alt="Logo" />
      </a>
    </div>
    <div class="project-item local-e">
      <a href="//locale.com" target="_blank" class="vertical-center">
        <img src="img/local-e.png" alt="Logo" />
      </a>
    </div>
    <div class="project-item debisa">
      <a href="//debisasystems.mx" target="_blank" class="vertical-center">
        <img src="img/debisasystems.png" alt="Logo" />
      </a>
    </div>
    <div class="project-item casabeltrami">
      <a href="//casabeltrami.com" target="_blank" class="vertical-center">
        <img src="img/casabeltrami.png" alt="Logo" />
      </a>
    </div>
    <div class="project-item aerial">
      <a href="//aerial360.com" target="_blank" class="vertical-center">
        <img src="img/aerial360.png" alt="Logo" />
      </a>
    </div>
    <div class="project-item rancholucero">
      <a href="//rancholucero.com" target="_blank" class="vertical-center">
        <img src="img/rancholucero.png" alt="Logo" />
      </a>
    </div>
    <div class="project-item opia">
      <a href="//opia.mx" target="_blank" class="vertical-center">
        <img src="img/opia.png" alt="Logo" />
      </a>
    </div>
    <div class="project-item sentirmebien">
      <a href="//sentirmebien.com" target="_blank" class="vertical-center">
        <img src="img/sentirmebien.png" alt="Logo" />
      </a>
    </div>
  </div>
</div>
{% endblock %}