{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
<div class="hero-section vertical-center">
  <h1 class="hero-title blue">Web Design & Software Development</h1>
  <img src="#" alt="Blick logo" />
  <div id="typed-phrases-div" class="text-center">
    <span>We'd love to</span>
    <span id="typed-phrases">

    </span>
  </div>
  <span class="hero-email">hola@blick.mx</span>
</div>
<div class="projects-section-wrapper">
  <h2>Some of our Projects:</h2>
  <div class="projects-grid">
    <div class="project-item">
      <a href="#" target="_blank">
        <img src="" alt="Logo" />
      </a>
    </div>
    <div class="project-item">
      <a href="#" target="_blank">
        <img src="" alt="Logo" />
      </a>
    </div>
    <div class="project-item">
      <a href="#" target="_blank">
        <img src="" alt="Logo" />
      </a>
    </div>
  </div>
</div>
{% endblock %}