<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% block meta %}{% endblock %}
    <link rel="stylesheet" href="css/{{ projectName }}.libs.css">
    <link rel="stylesheet" href="css/main.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:type" content="website">
    <meta property="og:image" content="http://getmore.mx/img/og-image.jpg">
    <meta property="og:image:alt" content="More Co.">
    <meta property="og:image:height" content="517">
    <meta property="og:image:width" content="987">
    <meta property="og:title" content="More Co.">
    <meta property="og:site_name" content="More Co.">
    <meta property="og:description" content="We are a Design and Software Development Company and we create the best solutions. From Webpages and
    Online Stores to big Tailor-made platforms.
    We&rsquo;d love to hear from you.">
    <meta property="og:url" content="http://getmore.mx">

    <title>{% if section != 'index' %}{% block title %}{% endblock %} - {% endif %}{{ projectName }}</title>
  </head>
  <body>
    <div id="page">
      {# {% include 'partials/navbar.njk' %} #}
      <main>
        {% block content %}{% endblock %}
      </main>
      {% include 'partials/footer.njk' %}
    </div>
    {% block js_libs_config %}
    {% endblock %}
    <script src="js/{{ projectName }}.libs.js"></script>
    {% block js_project_config %}
    {% endblock %}
    <script src="js/{{ projectName }}.js"></script>
    {% block js_inline %}
    {% endblock %}
  </body>
</html>
