*
  box-sizing border-box

html
  font-family 'Avenir'
  font-size unit($baseFontSize, 'px')

  @media screen and (max-width: 768px)
    font-size 14.5px

  @media screen and (max-width: 480px)
    font-size 13px

  // Provisional TV Media queries

  @media screen and (min-width: 1600px)
    font-size 20px

  @media screen and (min-width: 2500px)
    font-size 30px

  @media screen and (min-width: 3200px)
    font-size 40px

  @media screen and (min-width: 4500px)
    font-size 50px

  @media screen and (min-width: 6000px)
    font-size 62px

body
  background white
  font-size inherit
  font-family inherit
  font-weight inherit

  &.noscroll
    overflow hidden

    &::after
      content ' '
      opacity 1
      z-index 9

#page
  margin 0
  overflow hidden
  padding 0

.clickable
  cursor pointer

@import 'partials/navbar'

@import 'partials/footer'