@font-face
  font-family 'Avenir'
  font-weight $normal
  font-style normal
  src url('../fonts/Avenir.ttc')

@font-face
  font-family 'Avenir'
  font-weight $semibold
  font-style normal
  src url('../fonts/AvenirLTStd-Roman.otf')

@font-face
  font-family 'Avenir'
  font-weight $heavy
  font-style italic
  src url('../fonts/AvenirLTStd-HeavyOblique.otf')

@font-face
  font-family 'Avenir'
  font-weight $normal
  font-style italic
  src url('../fonts/AvenirLTStd-MediumOblique.otf')