// COLORS
$blue = #3573b9
$blue2 = #326197
$darkBlue = #204578
$gray = #4a4a4a
$lightGray = #9b9b9b
$borderGray = #e5e5e5

$dreamwater = #be84b9
$dondinero = #354c7b
$emma = #f7c42a
$brick = #44637f
$vre = #eb944a
$arkfund = #3367af
$mccosmetics = #1c1d1d
$begona = #4a4a4a
$local-e = #57b1a3
$debisa = #315ead
$casabeltrami = #ee89b4
$aerial = #002b4d
$rancholucero = #b9ce34
$opia = black
$sentiemebien = #9eb3c3

// Base font-size
$baseFontSize = 16

// Font weights
$thin = 100
$hairline = $thin
$extralight = 200
$ultralight = $extralight
$light = 300
$normal = 400
$regular = $normal
$medium = 500
$semibold = 600
$demibold = $semibold
$bold = 700
$extrabold = 800
$ultrabold = $extrabold
$black = 900
$heavy = $black